<?xml version="1.0"?>
<launch>  
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ase)/worlds/lwall_rl.world"/>    
  </include>

  <node name="gazebo_world" pkg="ase" type="gazebo_world" respawn="false" output="screen" cwd="ROS_HOME" clear_params="true">        
  </node>
</launch>
